<head>

  {% load staticfiles %}

  <meta charset=utf-8>
  <title>{{ title }} - VMS</title>
  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Hind' rel='stylesheet' type='text/css'>
  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/animate.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/vms.css' %}">

</head>
