<!doctype html>
<html lang=en>

{% include "__head.html" with title="Index" %}

<body>
  {% include "__navigation.html" %}

  <div class="jumbotron big">
    <div class="container animated slideInLeft">
      <h1>Vehicle Management System</h1>
      <p>VMS provides a great featureset for keeping track of vehicles. We process a lot of data and can provide useful metadata.</p>
      <p><a class="btn btn-secondary btn-lg" href="#about" role="button">Learn more</a></p>
    </div>
  </div>

  <div class="container-fluid primarydark-bg link-bar">
    <ul>
      <li><a href="#about">About VMS</a></li>
      <li><a href="#metadata">Metadata</a></li>
      <li><a href="#signup">Sign up</a></li>
    </ul>
  </div>

  <section class="about">
    <a id="about"></a>
    <div class="container">
      <h1 class="animated slideInLeft">Big Data. <span class="headbg primary-bg">Big Results.</span></h1>
      <p>That's a crooked tree. We'll send him to Washington. That's what painting is all about. It should make you feel good when you paint. If I paint something, I don't want to have to explain what it is. This is where you take out all your hostilities and frustrations. It's better than kicking the puppy dog around and all that so.

Almost everything is going to happen for you automatically - you don't have to spend any time working or worrying. Life is too short to be alone, too precious. Share it with a friend. You've got to learn to fight the temptation to resist these things. Just let them happen. But we're not there yet, so we don't need to worry about it.</p>
    </div>
  </section>

  <section class="metadata primary-bg">
    <a id="metadata"></a>
    <div class="container">
      <h1 class="animated slideInRight">Data you can <span class="headbg secondary-bg">build on.</span></h1>
      <div class="row">
        <div class="col-xs-12 col-md-4 graph">
          <canvas id="ignitions" max-width="100%"></canvas>
          <h2>Ignition</h2>
        </div>
        <div class="col-xs-12 col-md-4 graph">
          <canvas id="speed" max-width="100%"></canvas>
          <h2>Speed</h2>
        </div>
        <div class="col-xs-12 col-md-4 graph">
          <canvas id="reception" max-width="100%"></canvas>
          <h2>Reception</h2>
        </div>
    </div>
  </section>

  <section class="signup">
    <a id="signup"></a>
    <div class="container">
      <h1 class="animated slideInRight">Data <span class="headbg primary-bg">for you.</span></h1>
      <p>You know what our data can do. Are you ready to develop amazing new ideas based on this data? Sign up and tell us about your plans.</p>
      <a class="btn btn-primary btn-lg" href="/login/" role="button">Sign up</a>
  </section>

  {% include "__footer.html" %}

  {% include "__scripts.html" %}
  {% include "__scripts-chartjs.html" %}

  <!-- Chart Setup -->
  <script>
  Chart.defaults.global.showScale = false;
  Chart.defaults.global.showTooltips = false;
  Chart.defaults.global.responsive = false;
  Chart.defaults.Doughnut.segmentShowStroke = false;

  var ignitionData = {
      labels: ['Vehicle A', 'Vehicle B', 'Vehicle C', 'Vehicle D', 'Vehicle E'],
      datasets: [
          {
              label: '',
              fillColor: '#fefefe',
              strokeColor: "rgba(255,255,255,1)",
              data: [2500, 1902, 1041, 1504, 800]
          }
      ]
  };

  var speedData = {
    labels: ["", "", "", "", "", "", ""],
    datasets: [
        {
            label: "",
            fillColor: "rgba(255,255,255,0.2)",
            strokeColor: "rgba(255,255,255,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [57, 88, 112, 90, 105, 60, 30]
        }
    ]
  };

  var receptionData = [
      {
          value: 43,
          color:"#fefefe",
          highlight: "#fefefe",
          label: "Great"
      },
      {
          value: 51,
          color:"#3769b0",
          highlight: "#3769b0",
          label: "Good"
      },
      {
          value: 8,
          color: "#053882",
          highlight: "#053882",
          label: "Bad"
      }
  ]


  var context = document.getElementById('ignitions').getContext('2d');
  var ignitionChart = new Chart(context).Bar(ignitionData);

  var context = document.getElementById('speed').getContext('2d');
  var speedChart = new Chart(context).Line(speedData);

  var context = document.getElementById('reception').getContext('2d');
  var receptionChart = new Chart(context).Doughnut(receptionData);
  </script>
</body>

</html>
