<!doctype html>
<html lang=en>

{% include "__head.html" with title="Login" %}

<body>
  {% include "__navigation.html" %}

  <div class="jumbotron big">
    <div class="container animated slideInLeft">
      <h1>Sign in</h1>
    </div>
  </div>

  <section class="login">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-5">

          <h1>Login</h1>

          <!-- To output a template variable as html, the name of the var should be followed by "|safe". This tells Django that the variable is safe and we don't need html escaping -->
          {{ alert|safe }}

          <form id="login_form" method="post" action="/login/">

            {% csrf_token %}

            <div class="form-group">
              <label class="sr-only" for="inputUsername">Username</label>
              <input name="username" type="name" class="form-control" id="inputUsername" placeholder="Username">
            </div>

            <div class="form-group">
              <label class="sr-only" for="inputPassword">Password</label>
              <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>

            <input type="submit" class="btn btn-primary btn-lg" value="Submit" />
          </form>
        </div>

        <div class="col-xs-12 col-md-5 col-md-offset-1">

          <h1>No account yet?</h1>

          <p>Only think about one thing at a time. Don't get greedy. Put light against light - you have nothing. Put dark against dark - you have nothing. It's the contrast of light and dark that each give the other one meaning. Now we can begin working on lots of happy little things.</p>
        </div>

      </div>
    </div>
  </section>

  {% include "__footer.html" %}

  {% include "__scripts.html" %}

</body>

</html>
