<!doctype html>
<html lang=en>

{% include "__head.html" with title="Vehicle Overview" %}

<body>
  {% include "__navigation.html" %}

  <div class="jumbotron big">
    <div class="container animated slideInLeft">
      <h1 class="favourite-jumbotron">
        {% if favourite == False %}
          <form action= '/vehicles/favourite/{{ unitid }}/True/' method="get">
            <button type="submit" id="favtoggle"><i class="fa fa-star-o"></i></button>
        {% else %}
          <form action= '/vehicles/favourite/{{ unitid }}/False/' method="get">
            <button type="submit" id="favtoggle"><i class="fa fa-star"></i></button>
        {% endif %}
      </form><span>Vehicle {{ unitid }}</span>
      </h1>
    </div>
  </div>

  <section class="vehicle">
    <div class="container">
      <div class="row">

        <div class="col-xs-12">

          <h1>Comments</h1>

          <p class="comments">

          </p>

          <form id="comment-form" action= '/vehicles/comment/{{ unitid }}/' method="POST">
            {% csrf_token %}
            <textarea name="comment" form="comment-form">{{ comments }}</textarea>
            <input class="btn btn-primary" type="submit" value="Save" id="toggle1" />
          </form>

          {% if processorusage_usage %}
            <h2>CPU Usage</h2>
            <div id="cpu-usage" style="width:100%; height:400px;"></div>
          {% endif %}

          <h2>CPU Temperature</h2>

          {% if memoryusage_usage %}
          <h2>RAM Usage</h2>
          <div id="ram-usage" style="width:100%; height:400px;"></div>
          {% endif %}

          {% if gpstemperature_temperature %}
          <h2>GPS Temperature</h2>
          <div id="gps-temperature" style="width:100%; height:400px;"></div>
          {% endif %}
        </div>

      </div>
    </div>
  </section>

  {% include "__footer.html" %}

  {% include "__scripts.html" %}

  {% include "__scripts-highstock.html" %}

  <!-- Highcharts Setup -->
  <script>

    $(function () {
        $('#cpu-usage').highcharts({
            title: {
                text: '',
            },
            xAxis: {
                categories: {{ processorusage_datetime|safe }},
                min: 0,
                max: 200,
            },
            scrollbar: {
                enabled: true
            },
            yAxis: {
                title: {
                    text: 'Usage (%)'
                },
                plotLines: [{
                    value: {{ processorusage_average }},
                    width: 5,
                    color: '#808080'
                }],
                max: 100,
                min: 0,
            },
            tooltip: {
                valueSuffix: '%'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Unit {{ unitid }}',
                data: {{ processorusage_usage }}
            }]
        });
      });

    $(function () {
        $('#ram-usage').highcharts({
            title: {
                text: '',
            },
            xAxis: {
                categories: {{ memoryusage_datetime|safe }},
                min: 0,
                max: 200,
            },
            scrollbar: {
                enabled: true
            },
            yAxis: {
                title: {
                    text: 'Usage (%)'
                },
                plotLines: [{
                    value: {{ memoryusage_average }},
                    width: 5,
                    color: '#808080'
                }],
                max: 100,
                min: 0,
            },
            tooltip: {
                valueSuffix: '%'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Unit {{ unitid }}',
                data: {{ memoryusage_usage }}
            }]
        });
      });

  $(function () {
      $('#gps-temperature').highcharts({
          title: {
              text: '',
          },
          xAxis: {
              categories: {{ gpstemperature_datetime|safe }},
              min:0,
              max:200,
          },
          scrollbar: {
              enabled: true
          },
          yAxis: {
              title: {
                  text: 'Temperature (°C)'
              },
              plotLines: [{
                  value: {{ gpstemperature_average }},
                  width: 5,
                  color: '#808080'
              }],
              max: 100,
              min: 0,
          },
          tooltip: {
              valueSuffix: '°C'
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle',
              borderWidth: 0
          },
          series: [{
              name: 'Unit {{ unitid }}',
              data: {{ gpstemperature_temperature }}
          }]
      });
    });
  </script>

</body>

</html>
